
# https://codicious.wordpress.com/2018/06/06/how-would-you-exclude-all-extension-less-executable-from-your-repo/
# ignore binary files ...
# ignore/blacklist everything
#*
# do not ignore any files that are ____.__
#!*.*
# do not ignore directories
#!*/

# no NetCDF files
*.nc
# no zz directories or files
**/zz*

1d-gotm-erie-npzd/2021-03-02/sst2018.tif
